@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #050315;
  color: white !important;
}
.navv {
  background-color: transparent;
  font-weight: bold;
}
.hero-bag {
  background: url("./img/herro.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1024px;
}
.navbar-brand {
  font-size: 50px !important;
  margin-left: 20px !important;
}

.nav-back {
  background-color: black;
}
.nav-texts {
  color: white !important;
}
.nav-item {
  font-size: 20px;
  line-height: 23px !important;
}
.nav-link {
  color: #ffffff !important;
  line-height: 23px !important;
}
.hero-text {
  width: 358px;
  margin-top: 300px;
  margin-left: 124px;
  height: 140px;
}
.hero-text h1 {
  font-size: 90px;
  font-weight: bold;
}
.hero-text .cyber {
  color: #c280ff;
}
.hero-button {
  width: 225px;
  height: 52.53px;
  margin-top: 20px;
  border-color: #c280ff;

  color: #c280ff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
}

.social-icons {
  display: flex;
  margin-top: 223px;
  width: 112px;
  height: 24px;
  justify-content: space-between;
}
.social-icons li {
  list-style: none;
}

.tom-row {
  margin-top: 124px;
  margin-left: 124px;
  margin-right: 124px;
}
.hello-fr {
  font-size: 20px;
  color: #c280ff;
  font-weight: bold;
}
.tom-name {
  font-size: 40px;
  font-weight: bold;
}
.tom-info {
  font-size: 20px;
  margin-right: 20px;
}
.purp-tom {
  width: 586px;
  height: 595px;

  background: linear-gradient(
      0deg,
      rgba(194, 128, 255, 0.4),
      rgba(194, 128, 255, 0.4)
    ),
    url(img/purptom.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.purp {
  width: 495px;
  height: 503px;
}
.skills {
  justify-content: space-between;
  margin-left: 84px;
  margin-right: 97px;
}

.skills img {
  margin-top: 103px;
  width: 70px;
  height: 70px;
}
.skill-wrap {
  width: 170px;
}
.skill-wrap p {
  line-height: 21px;
  font-weight: bold;
  font-size: 18px;
}
.skills-list {
  display: flex;
  flex: wrap;
  justify-content: center;
}
.skills-list li {
  list-style: none;
  font-size: 18px;
  margin-right: 100px;
}
.recent {
  color: #c280ff;
  font-size: 20px;
  font-weight: bold;
}
.photo {
  font-size: 40px;
}
.gallery-container {
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 273px;
}
.gallery1,
.gallery2,
.gallery3 {
  display: flex;
  flex: wrap;
}
.gallery-col1 {
  flex-direction: column;
}
.gallery-col1 img {
  width: 300px;
  height: 278px;
}
.gallery2 img {
  width: 584px;
  height: 580px;
}
.rec-11 {
  width: 544px;
  height: 560px;
  margin-left: -270px !important;
}
.gallery3 img {
  width: 280px;
  height: 242px;
}

.my-journey {
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 100px;
}
.rec37 {
  width: 489px;
  height: 586px;
}
.my-journey-text {
  margin-top: 100px;
}

.neon {
  font-size: 25px;
}
.form-wrap {
  width: 100%;
  height: 954px;
  margin-top: 90px;
  padding-top: 90px;
  padding-left: 124px;

  background: linear-gradient(
      0deg,
      rgba(194, 128, 255, 0.4),
      rgba(194, 128, 255, 0.4)
    ),
    url(img/Rectangle26.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.form-box {
  width: 1192px;
  padding-left: 60px;
  padding-top: 50px;

  height: 775px;
  background: rgba(5, 3, 21, 0.9);
  justify-content: space-between;
}
.contactme {
  font-size: 40px;
  font-weight: bold;
}
.trans input,
textarea {
  background-color: transparent !important;
  border: 0 !important;
  padding-bottom: 28px !important;
  border-bottom: 1px white solid !important ;
  border-radius: 0;
}
.trans textarea {
  height: 250px;
}

.trans input::placeholder {
  color: white;
  font-size: 20px;
}
.coll input {
  width: 230px;
}
.subject-row {
  margin-top: 80px !important;
}
.subject-row input,
textarea {
  width: 572px !important;
}
.info-row {
  padding-top: 100px;
}
.info-detail {
  font-size: 21px;
}
.info-data {
  font-size: 25px;
}
.phone {
  display: flex;
  width: 405px;
  margin-bottom: 20px;
}
.email-wrap {
  margin-top: 70px;
}
.emailicon {
  width: 33px;
  height: 33px;
}
.send-btn {
  margin-top: 52px;
  width: 134px;
  height: 53px;
  background-color: #c280ff;
}
.form-social {
  display: flex;
  width: 112px;
  height: 24px;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 160px;
}
.form-social li {
  list-style: none;
}
.footer {
  padding-top: 49px;
  height: 131px;
  display: flex;
  justify-content: space-between;
}
.footer-list {
  display: flex;
}

.footer-list li {
  list-style: none;
  margin-right: 40px;
  font-size: 20px;
}
.footer p {
  font-size: 20px;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .hero-bag {
    height: 332px;
  }
  .hero-text {
    margin-left: 36px;
    width: 124px;
    margin-top: 50px;
  }
  .hero-text h1 {
    font-size: 20px;
  }
  .social-icons {
    margin-top: 50px;
    width: 50px;
  }
  .hello-fr {
    font-size: 12px;
  }
  .tom-name {
    font-size: 20px;
  }
  .hero-button {
    width: 99px;
    height: 25px;
    font-size: 10px;
    line-height: 25px;
    font-weight: 500;
    padding-top: 0;
    padding-right: 0;
    margin-top: 10px;
  }
  .social-icons img {
    width: 12px;
    height: 12px;
  }
  .tom-row {
    margin: 10px auto;
    justify-content: center;
  }
  .tom-info {
    margin-right: 0px;
  }
  .tom-info p {
    font-size: 12px;
  }
  .purp {
    width: 282px;
    height: 287px;
  }
  .purp-tom {
    width: 335px;
    height: 340px;
  }
  .skills {
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .skill-wrap {
    width: 90px;
  }
  .skill-wrap p {
    font-size: 12px;
  }
  .skills img {
    margin-top: 50px;
    width: 40px;
    height: 25px;
  }
  .recent {
    font-size: 12px;
  }
  .gallery-container {
    margin-top: 10px;
    margin-left: 15px;
  }

  .gallery-col1 img {
    width: 84.56px;
    height: 77.52px;
  }
  .rec-11 {
    width: 153.34px;
    height: 161.74px;
    margin-left: -50px !important;
    margin-bottom: 8px !important;
    margin-right: 8px !important;
  }
  .gallery1 {
    margin: auto;
    margin-bottom: 8px !important;
  }
  .rec-9,
  .gallery-col1 img,
  .gallery3,
  .gallery3 img,
  .gallery1 {
    margin-bottom: 8px !important;
  }
  .gallery1 {
    margin-bottom: 8px !important;
  }

  .gallery2 img {
    width: 164.62px;
    height: 161.74px;
    margin-right: 8px !important;
  }
  .gallery3 img {
    width: 78.93px;
    height: 67.48px;
    margin-right: 8px !important;
  }
  .gallery3 {
    margin-top: 8px !important;
  }
}
